.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background-color);
  z-index: 2;
}

.modalContent {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}

.formGroup {
  margin-bottom: 24px;
}

.label {
  display: block;
  margin-bottom: 10px;
}

.customRadioButton {
  display: inline-block;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  border: 1px solid var(--button-border);
  background-color: var(--button--hover-background);
  color: var(--button-text);
  transition: background-color 0.3s, border-color 0.3s, transform 0.3s;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.customRadioButton span {
  margin-right: 4px;
}

.customRadioButton:hover {
  background-color: var(--button-hover-background);
}

.customRadioButton:focus-within {
  background-color: var(--button-background);
}

.customRadioButton input[type="radio"] {
  position: absolute;
  opacity: 0;
}

.customRadioButtonChecked {
  background-color: var(--button-background);
  transform: scale(1.05);
}

/* List Item Styles */

.activityItemCard {
  background-color: #2c3e50;
  border: 1px solid #34495e;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s ease;
  cursor: pointer;
  flex: 1;
  position: relative;
}

.activityItem {
  display: flex;
}

.activityItemTimeWrapper {
  width: 100px;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
}

.activityItemTimeAndCircle {
  display: flex;
  align-items: center;
  z-index: 1;
  background-color: var(--background-color);
  margin-top: -8px;
}

.activityTime {
  font-weight: bold;
  color: #ecf0f1;
  margin-left: 8px;
  margin-top: 0;
  display: inline-block;
}

.activityItemTimeCircle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid var(--button-background);
  display: flex;
  align-items: center;
  justify-content: center;
}

.activityItemTimeCircle-info {
  border: 2px solid var(--warning-color);
}

.activityItemTimeCircle-warning {
  border: 2px solid var(--strong-warning-color);
}

.activityItemTimeLine {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 14px;
  width: 1px;
  z-index: 0;
  border-left: 1px solid var(--button-background);
}

.activityInfo {
  display: flex;
  flex: 1;
}

.activityText {
  flex: 1;
}

.activityElapsedTime {
  color: #ecf0f1;
  float: right;
  font-size: 12px;
  text-align: right;
}

.activityCategory {
  color: #3498db;
  font-weight: bold;
}

.activityDetails {
  color: #ecf0f1;
  display: block;
  margin-top: 4px;
  font-weight: normal;
}

.activityButtonContainer {
  opacity: 0;
  animation: fadeIn 0.5s ease forwards;
}

.activityButtonContainer button {
  margin-left: 8px;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes pulse {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

.loading {
  background: linear-gradient(90deg, #2c3e50 25%, #34495e 50%, #2c3e50 75%);
  background-size: 200% 100%;
  animation: pulse 1s infinite;
}
